# Built-in Android Studio and Gradle files
.gradle/
build/
captures/
*.iml
.idea/
local.properties

# Kotlin
.kotlin/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# APKs
*.apk
*.ap_

# Jar/War
*.jar
!gradle-wrapper.jar
*.war

# IDE / Editor specific
*.swp
*.swo
.vscode/
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/assetWizardSettings.xml
